*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	background-color: #fff;
	color: #000;
	text-rendering: optimizeLegibility;
	font-size: 20px;
	font-family: 'work Sans' , 'Arial',sans-serif;
}

/*.row{
	max-width: 1140px;
	margin: 0 auto;
}*/

header{

	background-image:linear-gradient(rgba(0,0,0,0.3),rgb(0,0,0.7)),url('./img/header-img.jpg');
	height: 100vh; /*viewport height*/
	background-size: cover;
	background-position: center;
	position: relative;

}

h1{
font-size: 500%;
color: white;
font-weight: 400;
padding-bottom: 20px;
}

h2{
font-size: 200%;
color: white;
font-weight: 400;
}

.header-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  	text-align: center;
}

.header-text-box{
	margin-bottom: 80px;
}
/*buttons all*/

.btn:link,
.btn:visited{
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 200px;
}

.btn-full:link,
.btn-full:visited

{
	background-color: #ed07b7;
    color: white;
}

.btn-full:hover,
.btn-full:active{
	background-color: #BD0592;
}

.logo{

height: 130px;
width: auto;
float: left;

}

.main-nav{
	list-style: none;
	float: right;
	margin-top: 60px;

}

.main-nav li{
	display: inline-block;
	margin-right: 40px;
	text-transform: uppercase;
}

.main-nav li a:link,
.main-nav li a:visited{
	text-decoration: none;
	color: #fff;
	font-size: 23px;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{

border-bottom: 4px solid #ed07b7;

}
